$pink:#F24B88;
$dark-pink:#59253E;
$blue-black:#1F1C26;
$white:#F2F2F2;
$text-white:rgb(255,255,255,0.36);
$black:#0D0D0D;
$text-black:rgb(0,0,0,0.36);
$grey-black:#332F3C;
$grey:#E5E5E5;
@mixin phone{
  @media  screen and  (max-width: 800px){
    @content;
  }
}
@font-face {
  font-family: Poppins;
  src: url("poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 50000;
}
body {
  font-family: Poppins;
  background-color: $blue-black;
  margin: 95px 150px;
}
.bk-pink{
  background-color: $pink;
}
.bk-black{
  background-color: $blue-black;
}
.text{
  color: $text-white ;
  font-size: 14px;
}
.btn{
  border: 0;
  padding: 7px 5px;
  border-radius: 10px;
}
.btn_xl{
  padding: 20px 30px;
}
.white{
  color: $white;
}
.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-none{
}
.title{
  display: inline-block;
  position: relative;
  padding: 0 ;
  &__text::after{
    content: "";
    height: 3px;
    width: 35%;
    min-width: 61px;
    background: $dark-pink;
    left: 0;
    position: absolute;
    bottom: 10px;
  }
}

.mobile-btn{
  display: none;
}


//navbar
.header{
  align-items: center;
  &__nav{
    width: 50%;
    list-style-type: none;
  }
  &__nav-item{
    position: relative;
  }
  &__nav-link{
    color: $white;
    text-decoration: none;
  }
  &__nav-link:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    background: $dark-pink;
    left: 0;
    position: absolute;
    bottom: -5px;
  }
  &__btns{
    padding: 0;
    margin: 0;
    display: flex;
  }
  &__btn{
    border: none;
  }
  &__btn-sign{
    border: 1px solid white;
  }
  &__navbar-btn{
    position: absolute;
    top: 35px;
    right: 15px;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  &__bar{
    height: 3px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
  }

}

.container{
  margin: 0 auto;
  padding: 75px 0;
  max-width: 1320px;
}

//plan section
.plan{
  &__four-week{
    width: 35%;
  }
  &__container{
    width: 60%;
  }
  &__text{
    width: 92%;
  }
  &__btns{
    margin: 0 auto;
    width: 95%;
  }
  &__cards{
    width: 52%;
  }
  &__title{
    color: $white;
    font-size: 29px;
  }
  &__big-title{
    display: block;
    font-size: 64px;
  }
  &__img{
    border-radius: 25px;
  }
  &__mobile-woman{
    display: none;
  }
}
.plans-card{
  &__container{
    padding:29px 25px 17.72px 25px;
    border-radius: 10px;
    background-color: $grey-black;
  }
  &__btn{
    border: 0;
    border-radius: 50%;
    padding:15px;
    height: 43px;
  }
  &__text{
    padding: 15px 0;
  }
}


//training section
.training{
  &__top{
    align-items: center;
  }
}
.trainings-card{
  height: 342px;
  width: 380px;
  &__img{
    width: 100%;
    height: auto;
  }
}


//team section
.team{
}
.teams-card{
  background-color: $white;
  width: 280px;
  position: relative;
  &__content{
    padding: 0 12px 105px 12px;
  }
  &__img{
    width: 100%;
  }
  &__title{
    padding: 20px 0;
  }
  &__profession{
    font-size: 13px;
    font-style: italic;
  }
  &__name{
    display: block;
    font-size: 18px;
    font-style: italic;
  }
  &__text{
    text-align: center;
    color: $text-black;
  }
  &__btn{
    position: absolute;
    right: 12px;
    bottom: 12px;
    box-shadow: 3px 3px 5px $text-black;
  }
}


//info section
.info{
  &__container{
    background-color: $grey-black;
    text-align: center;
    padding: 65px 143px;
  }
  &__title span{
    font-size: 48px;
    letter-spacing: 10px;
  }
  &__text{
    width:80%;
    padding:5px 10% 100px 10%;
  }
  &__btns{
    margin: 0 32%;
  }
}


//footer section
.footer{
  &__content{
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    padding: 36.5px 0 15px 0;
  }
  &__container-list{
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
  }
  &__connect{
    width: 38%;
  }
  &__lists{
    width: 45%;
  }
  &__list{
    list-style: none;
  }
  &__link{
    padding-bottom: 20px;
  }
  &__connect-item{
    padding-top: 15px;
  }
  &__title{
    padding-bottom: 20px;
  }
  &__subscribe{
    width: 45%;
  }
  &__input-container{
    display: flex;
    width: 100%;
    padding-bottom: 15px;
  }
  &__input{
    width: 100%;
    border-radius: 5px;
    padding:8px 10px;
  }
  &__btn{
    border-radius: 5px;
  }
  &__bottom{
    padding-top: 35px;
  }

}

@include phone{
  body{
    margin: 20px 0;
    z-index: 0;
  }
  .logo__img{
    width: 150px;
  }
  .flex{
    display: block;
    margin: 0 5px;
  }
  .d-none{
    display: none;
  }
  .title{
    display: inline-block;
    position: relative;
    padding: 0 ;
    &__text::after{
      content: "";
      height: 5px;
      width: 100%;
      min-width: 61px;
      background: $dark-pink;
      left: 0;
      position: absolute;
      bottom: 10px;
    }
  }
  .btn_xl{
    padding: 12px 13px;
    border-radius: 5px;
    font-size: 18px;
  }
  .mobile-btn{
    display: block;
    padding: 25px 0;
  }


  .header{
    &__navbar-btn{
      display: flex;
    }
    &__nav{
      padding: 30px 0 19px 0;
      background-color: $dark-pink ;
      text-align: center;
      position: fixed;
      top: 5px;
      right: 0;
      border-radius: 15px 0 0 15px;
      z-index: 1;
    }
    &__nav-item{
      padding-bottom: 15px;
    }
    &__btns{
      display: flex;
      padding-top:50px;
      justify-content: center;
    }
  }
  .plan{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    &__four-week{
      padding: 0;
      width: 100%;
    }
    &__container{
      width: 100%;
    }
    &__mobile-woman{
      display:block;
    }
    &__mobile-img{
      border-radius: 25px;
      width: 100%;
      height: auto;
    }
    &__title{
      font-size: 15px;
      letter-spacing: 3px;
    }
    &__big-title{
      font-size: 30px;
    }
    &__btns{
      padding-top: 100px;
    }
  }
  .training{
    text-align: center;
  }
  .trainings-card {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 15px;
    &__img{
      width: 100%;
      border-radius: 10px;
    }
    &__title{
      position: absolute;
      bottom: 8px;
      left: 16px;
      font-size: 18px;
    }
  }
  .team{
    text-align: center;
    &__list{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .teams-card {
    width: 46%;
    padding: 5px;
    &__content{
      padding: 0;
    }
    &__title{
      padding: 0;
    }
    background-color:$blue-black;
    text-align: center;
    &__img{
      border-radius: 5px;
    }
    &__name{
      color: $white;
    }
  }
  .info{
    &__container{
      margin: 0;
      padding: 25px 0;
    }
    &__title span{
      font-size: 24px;
      letter-spacing: 5px;
    }
    &__title{
      margin: 0;
    }
    &__text{
      width: 100%;
      padding: 0;
    }
    &__btns{
      margin: 84px auto;
      width: 80%;
      min-width: 284px;
      max-width: 298px;
      display: flex;
      justify-content: space-between;
    }
  }
  .footer{
    text-align: center;
    &__connect{
      width: 100%;
    }
    &__connect-item{
      padding: 20px 20px;
    }
    &__container-list{
      display:block;
      width: 100%;
    }
    &__lists{
      text-align: left;
      display: flex;
      width: 90%;
    }
    &__subscribe{
      width: 100%;
    }
    &__input{
      width:100%
    }
    &__bottom .text{
      font-size: 12px;
      padding-top: 15px;
    }
  }
}


