@font-face {
  font-family: Poppins;
  src: url("poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 50000;
}
body {
  font-family: Poppins;
  background-color: #1F1C26;
  margin: 95px 150px;
}

.bk-pink {
  background-color: #F24B88;
}

.bk-black {
  background-color: #1F1C26;
}

.text {
  color: rgba(255, 255, 255, 0.36);
  font-size: 14px;
}

.btn {
  border: 0;
  padding: 7px 5px;
  border-radius: 10px;
}

.btn_xl {
  padding: 20px 30px;
}

.white {
  color: #F2F2F2;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: inline-block;
  position: relative;
  padding: 0;
}
.title__text::after {
  content: "";
  height: 3px;
  width: 35%;
  min-width: 61px;
  background: #59253E;
  left: 0;
  position: absolute;
  bottom: 10px;
}

.mobile-btn {
  display: none;
}

.header {
  align-items: center;
}
.header__nav {
  width: 50%;
  list-style-type: none;
}
.header__nav-item {
  position: relative;
}
.header__nav-link {
  color: #F2F2F2;
  text-decoration: none;
}
.header__nav-link:hover::after {
  content: "";
  height: 3px;
  width: 100%;
  background: #59253E;
  left: 0;
  position: absolute;
  bottom: -5px;
}
.header__btns {
  padding: 0;
  margin: 0;
  display: flex;
}
.header__btn {
  border: none;
}
.header__btn-sign {
  border: 1px solid white;
}
.header__navbar-btn {
  position: absolute;
  top: 35px;
  right: 15px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header__bar {
  height: 3px;
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  padding: 75px 0;
  max-width: 1320px;
}

.plan__four-week {
  width: 35%;
}
.plan__container {
  width: 60%;
}
.plan__text {
  width: 92%;
}
.plan__btns {
  margin: 0 auto;
  width: 95%;
}
.plan__cards {
  width: 52%;
}
.plan__title {
  color: #F2F2F2;
  font-size: 29px;
}
.plan__big-title {
  display: block;
  font-size: 64px;
}
.plan__img {
  border-radius: 25px;
}
.plan__mobile-woman {
  display: none;
}

.plans-card__container {
  padding: 29px 25px 17.72px 25px;
  border-radius: 10px;
  background-color: #332F3C;
}
.plans-card__btn {
  border: 0;
  border-radius: 50%;
  padding: 15px;
  height: 43px;
}
.plans-card__text {
  padding: 15px 0;
}

.training__top {
  align-items: center;
}

.trainings-card {
  height: 342px;
  width: 380px;
}
.trainings-card__img {
  width: 100%;
  height: auto;
}

.teams-card {
  background-color: #F2F2F2;
  width: 280px;
  position: relative;
}
.teams-card__content {
  padding: 0 12px 105px 12px;
}
.teams-card__img {
  width: 100%;
}
.teams-card__title {
  padding: 20px 0;
}
.teams-card__profession {
  font-size: 13px;
  font-style: italic;
}
.teams-card__name {
  display: block;
  font-size: 18px;
  font-style: italic;
}
.teams-card__text {
  text-align: center;
  color: rgba(0, 0, 0, 0.36);
}
.teams-card__btn {
  position: absolute;
  right: 12px;
  bottom: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.36);
}

.info__container {
  background-color: #332F3C;
  text-align: center;
  padding: 65px 143px;
}
.info__title span {
  font-size: 48px;
  letter-spacing: 10px;
}
.info__text {
  width: 80%;
  padding: 5px 10% 100px 10%;
}
.info__btns {
  margin: 0 32%;
}

.footer__content {
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  padding: 36.5px 0 15px 0;
}
.footer__container-list {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
}
.footer__connect {
  width: 38%;
}
.footer__lists {
  width: 45%;
}
.footer__list {
  list-style: none;
}
.footer__link {
  padding-bottom: 20px;
}
.footer__connect-item {
  padding-top: 15px;
}
.footer__title {
  padding-bottom: 20px;
}
.footer__subscribe {
  width: 45%;
}
.footer__input-container {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}
.footer__input {
  width: 100%;
  border-radius: 5px;
  padding: 8px 10px;
}
.footer__btn {
  border-radius: 5px;
}
.footer__bottom {
  padding-top: 35px;
}

@media screen and (max-width: 800px) {
  body {
    margin: 20px 0;
    z-index: 0;
  }

  .logo__img {
    width: 150px;
  }

  .flex {
    display: block;
    margin: 0 5px;
  }

  .d-none {
    display: none;
  }

  .title {
    display: inline-block;
    position: relative;
    padding: 0;
  }
  .title__text::after {
    content: "";
    height: 5px;
    width: 100%;
    min-width: 61px;
    background: #59253E;
    left: 0;
    position: absolute;
    bottom: 10px;
  }

  .btn_xl {
    padding: 12px 13px;
    border-radius: 5px;
    font-size: 18px;
  }

  .mobile-btn {
    display: block;
    padding: 25px 0;
  }

  .header__navbar-btn {
    display: flex;
  }
  .header__nav {
    padding: 30px 0 19px 0;
    background-color: #59253E;
    text-align: center;
    position: fixed;
    top: 5px;
    right: 0;
    border-radius: 15px 0 0 15px;
    z-index: 1;
  }
  .header__nav-item {
    padding-bottom: 15px;
  }
  .header__btns {
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }

  .plan {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .plan__four-week {
    padding: 0;
    width: 100%;
  }
  .plan__container {
    width: 100%;
  }
  .plan__mobile-woman {
    display: block;
  }
  .plan__mobile-img {
    border-radius: 25px;
    width: 100%;
    height: auto;
  }
  .plan__title {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .plan__big-title {
    font-size: 30px;
  }
  .plan__btns {
    padding-top: 100px;
  }

  .training {
    text-align: center;
  }

  .trainings-card {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 15px;
  }
  .trainings-card__img {
    width: 100%;
    border-radius: 10px;
  }
  .trainings-card__title {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

  .team {
    text-align: center;
  }
  .team__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .teams-card {
    width: 46%;
    padding: 5px;
    background-color: #1F1C26;
    text-align: center;
  }
  .teams-card__content {
    padding: 0;
  }
  .teams-card__title {
    padding: 0;
  }
  .teams-card__img {
    border-radius: 5px;
  }
  .teams-card__name {
    color: #F2F2F2;
  }

  .info__container {
    margin: 0;
    padding: 25px 0;
  }
  .info__title span {
    font-size: 24px;
    letter-spacing: 5px;
  }
  .info__title {
    margin: 0;
  }
  .info__text {
    width: 100%;
    padding: 0;
  }
  .info__btns {
    margin: 84px auto;
    width: 80%;
    min-width: 284px;
    max-width: 298px;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    text-align: center;
  }
  .footer__connect {
    width: 100%;
  }
  .footer__connect-item {
    padding: 20px 20px;
  }
  .footer__container-list {
    display: block;
    width: 100%;
  }
  .footer__lists {
    text-align: left;
    display: flex;
    width: 90%;
  }
  .footer__subscribe {
    width: 100%;
  }
  .footer__input {
    width: 100%;
  }
  .footer__bottom .text {
    font-size: 12px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
